<div class="container">
  <div class="container-inner">
     <div class="section">
      <h4 class="header pt-serif subtext white-text">{{ page.header.job_title }}</h4>
    <div class="b-fix white-text source-sans-pro" style="padding: 0 1em;">
    {{ page.content }}</div>

    <h6 class="header pt-serif subtext white-text">Who you Are:</h6>
    <p class="white-text source-sans-pro" style="padding: 0 1em;">{{ page.header.who_you_are }}</p>

    <h6 class="header pt-serif subtext white-text">Required:</h6>
    <p class="white-text source-sans-pro" style="padding: 0 1em;"">{{ page.header.required }}</p>

    <h6 class="header pt-serif subtext white-text">Location:</h6>
    <p class="white-text source-sans-pro" style="padding: 0 1em;">{{ page.header.location }}</p>

    <div class="center" style="padding-top: 2em;">
    <a href="../job-board" class="s-green waves-effect waves-light btn" style="padding: 0 5rem;">go back</a>
    <a class="s-green waves-effect waves-light btn" style="padding: 0 5rem;">apply</a> 
    </div>
    </div>
</div>