{% extends 'partials/base.html.twig' %}

{% block content %}

<br>
<br>
<div class="container">
   <!--    <div class="container-inner"> -->
   <h3 class="page-header white-text">About Next Gen</h3>
   <div class="section"></div>
   <div class="section">
   <div class="row">
         <div class="col m12 l7">
         <p class="white-text muli">{{ page.header.about_text }}</p>
      </div>


         <div class="col m10 push-m1 pull-m1 l5">
             <img class="responsive-img" src="{{ page.header.about_img|first.path }}">
         </div>
      </div>
   </div>
   <div class="section">
   <div class="row">
      <h5 class="header center white-text">How We Work</h5>
      <div class="row">
         <div class="col s12 m4">
            <div class="icon-block">
               <h2 class="center light-blue-text"><i class="approach-icon material-icons">{{ page.header.quality1_icon }}</i></h2>
               <h5 class="white-text center">{{ page.header.quality1 }}</h5>
               <p class="white-text muli light">{{ page.header.quality1_description }}</p>
            </div>
         </div>
         <div class="col s12 m4">
            <div class="icon-block">
               <h2 class="center light-blue-text"><i class="approach-icon material-icons">{{ page.header.quality2_icon }}</i></h2>
               <h5 class="white-text center">{{ page.header.quality2 }}</h5>
               <p class="white-text muli light">{{ page.header.quality2_description }}</p>
            </div>
         </div>
         <div class="col s12 m4">
            <div class="icon-block">
               <h2 class="center light-blue-text"><i class="approach-icon material-icons">{{ page.header.quality3_icon }}</i></h2>
               <h5 class="white-text center">{{ page.header.quality3 }}</h5>
               <p class="white-text muli light">{{ page.header.quality3_description }}</p>
            </div>
         </div>
      </div>
   </div>
 </div>
 <div class="section">
<div class="s abt-fun">
      <h5 class="header center white-text">Fund Allocation</h5>
      <div class="section">
      </div>
      <div class="row">
        <div class="col s8 push-s2 pull-s2">
      <canvas id="bar-chart-grouped" ></canvas>
    </div>
    </div>
     <div class="row">
        <div class="col s10 push-s1 pull-s1">
           <p class="white-text muli">{{ page.header.fund_allocation_description }}</p>
        </div>
      </div>
   </div>
 </div>
   <!-- adfasdf -->
       <h5 class="header center white-text">Outreach</h5>
   <div class="row valign-wrapper">
    <div class="col s2 right-align">
<li onclick="incr(-1)" class="waves-effect"><a href="#!"><i class="arrow-big material-icons">chevron_left</i></a></li>
    </div>
     <div class="col s8">


       <div class="section"></div>
       {% for image in page.media.images%}
             <div id="{{ loop.index }}" class="l{{ loop.index }} slider-image valign-wrapper center-align row">
                <div class="col s12">
                  <div class="hmph">
                    <img class="slider-img responsive-img z-depth-1" src="{{ image.url }}">
                  </div>
                </div>
             </div>
        {% endfor %}

        
     
        <ul class="pagination center">
          {% for image in page.media.images%}
            <li onclick="curr({{ loop.index }})" class="img-num waves-effect"><a href="#!">{{ loop.index }}</a></li>
          {% endfor %}
        </ul>
       
     </div>
     <div class="col s2 left-align">
 <li onclick="incr(1)" class="img-num waves-effect"><a href="#!"><i class="arrow-big material-icons">chevron_right</i></a></li>
    </div>
   </div>
   <!-- adf -->
   
   <div class="s abt-faq white-text">
      <h5 class="header center white-text">FAQs</h5>
      <div class="section">
      </div>
      <div class="row">
      <div class="col s10 push-s1 pull-s1">
      <ul class="collapsible" data-collapsible="accordion">
        {% for faq in page.header.faq %}
          <li>
            <div class="collapsible-header"><i class="arrow material-icons">keyboard_arrow_right</i>{{ faq.question }}</div>
            <div class="collapsible-body"><span class="muli">{{ faq.answer }}</span></div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}