{% extends 'partials/base.html.twig' %}
{% block content %}
{% set programs = page.collection({'items':{'@page.children':'/about/programs'}, 'pagination': true, 'limit': 10, 'order': {'by': 'default', 'dir': 'asc'}}) %}
<div class="container page-container">
   <h3 class="page-header white-text">{{ page.header.title }}</h3>
   <div class="row">
      <div class="col s12">
         <p class="white-text muli under-header-text">{{ page.header.about_text }}</p>
      </div>
   </div>
   <div class="section gi-sec" id="index-banner">
      <div class="gi-header">
         <!-- change inline-styling later, temporary fix -->
         <h4 class="header white-text">Join Community</h4>
         <div class="col s12 m7 spacing">
            <p class="white-text zero-line-height">{{ page.header.join_subtext }}</p>
            <div class="section">
               <ul class="gb browser-default">
                  {% for benefit in page.header.benefits %}
                  <li class="muli white-text">{{ benefit.benefit }}</li>
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
      <div class="row center-align valign-wrapper">
    <div class="col s2 right-align">
<li onclick="incr(-1)" class="waves-effect"><a href="#!"><i class="arrow-big material-icons">chevron_left</i></a></li>
    </div>
     <div class="col s8">


       <div class="section"></div>
       {% for image in page.media.images%}
             <div id="{{ loop.index }}" class="l{{ loop.index }} slider-image valign-wrapper center-align row">
                <div class="col s12">
                  <div class="hmph">
                    <img class="slider-img responsive-img z-depth-1" src="{{ image.url }}">
                  </div>
                </div>
             </div>
        {% endfor %}

        
     
        <ul class="pagination center">
          {% for image in page.media.images%}
            <li onclick="curr({{ loop.index }})" class="img-num waves-effect"><a href="#!">{{ loop.index }}</a></li>
          {% endfor %}
        </ul>
       
     </div>
     <div class="col s2 left-align">
 <li onclick="incr(1)" class="img-num waves-effect"><a href="#!"><i class="arrow-big material-icons">chevron_right</i></a></li>
    </div>
      </div>
   </div>
   <div class="section gi-sec" id="index-banner">
      <h4 class="header white-text">Our Members</h4>
      <div class="col s12 m7 spacing">
         <p class="white-text zero-line-height">Check out some of the amazing people in NextGen!</p>
      </div>

         <div class="section">
      <div class="row">
         <div class="col s4">
            <div class="card profile-card">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ url('theme://images/team_1.JPG') }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Nicholas Kee<i class="material-icons right">more_vert</i></span>
                  <p class="header-sub muli">Co-founder of Next Gen Creators</p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </div>
               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Marco Gomez<i class="material-icons right">close</i></span>
                  <p class="team-about-text">He developed a love for programming at a very young age and has been traveling the world showing off his skills at various events. Nick’s journey is one that includes being homeless, robbed and many other misfortunes but in the end still coming out on top. </p>
                   <p class="mantra-text">Mantra:</p>
    <blockquote class="team-about-quote">“Here’s to the crazy ones...”
         </blockquote>
               </div>
            </div>
         </div>
         <div class="col s4">
            <div class="card profile-card">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ url('theme://images/team_2.JPG') }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Ja’dan Johnson<i class="material-icons right">more_vert</i></span>
                  <p class="header-sub muli">Co-founder of Next Gen Creators</p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </div>
               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Ja’dan Johnson<i class="material-icons right">close</i></span>
                  <p class="team-about-text">Jadan started his entrepreneurial journey when he was 10 and has been unstoppable since. A true hustler and marketing genius, his achievements in the media industry make him extraordinary.</p>

    <p class="mantra-text">Mantra:</p>
    <blockquote class="team-about-quote">"The go getter goes till he gets what he goes for. The go getter sows till he reaps what he sowed for. He fixes a goal and resolves when he sets it. The way to the prize is to go till you get it."
         </blockquote>
               </div>
            </div>
         </div>
         <div class="col s4">
            <div class="card profile-card">
               <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ url('theme://images/team_3.JPG') }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Stephan Smith<i class="material-icons right">more_vert</i></span>
                  <p class="header-sub muli">Co-founder of Next Gen Creators</p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </div>
               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Stephan Smith<i class="material-icons right">close</i></span>
                  <p class="team-about-text">His tech-entrepreneurship expedition started while attending university. Stephan’s super power lies in solving problems. Inspired mostly by the Jamaican culture most of his time is spent planning and developing projects around the lifestyle.</p>
                  <p class="mantra-text">Mantra:</p>
    <blockquote class="team-about-quote">“When you want to succeed as bad as you want to breathe, then you will be successful.”
         </blockquote>
               </div>
            </div>
         </div>
      </div>
      <div class="row center-align">
        <a href="about/team" style="margin-top: 1.5rem;" class="waves-effect waves-light btn">see more members</a>
      </div>
   </div>

   </div>
   <div class="section gi-sec" id="index-banner">
            <div class="gi-header">
         <!-- change inline-styling later, temporary fix -->
         <h4 class="header white-text">Job Board</h4>
         <div class="col s12 m7 spacing">
            <p class="white-text zero-line-height">Interested in working with us? Check out our available jobs!</p>
         </div>
      </div>
      <div class="row center-align">
        <a href="community/job-board" style="margin-top: 1.5rem;" class="waves-effect waves-light btn">job board</a>
      </div>

   </div>
</div>
{% endblock %}