{% extends 'partials/base.html.twig' %}
{% block content %}
{% set programs = page.collection({'items':{'@page.children':'/about/programs'}, 'pagination': true, 'limit': 10, 'order': {'by': 'default', 'dir': 'asc'}}) %}
<div class="container page-container">
   <h3 class="page-header white-text">Our Community</h3>
   <div class="row">
      <div class="col s12">
         <p class="white-text muli under-header-text">Hello there! We are a non-profit organization providing a platform for youth to explore their skills as entrepreneurs and innovators through events and projects that provides opportunites for real-life application. We empower the Caribbean and Latin America regions' young developers, designers, and tech-entrepreneurs.</p>
      </div>
   </div>
   <!-- <div class="section gi-sec" id="index-banner">
      <div class="gi-header">
         <h4 class="header center white-text">Get Involved</h4>
         <div class="col s12 m7 spacing">
            <p class="white-text center">Here's some of our events, we'd love to see you there!</p>
         </div>
      </div>
      {# {% include 'partials/program_list.html.twig' %} #}
      </div> -->
   <div class="section gi-sec" id="index-banner">
      <div class="gi-header">
         <!-- change inline-styling later, temporary fix -->
         <h4 class="header white-text">Join Community</h4>
         <div class="col s12 m7 spacing">
            <p class="white-text zero-line-height">Become a part of our community and gain awesome benefits!</p>
            <div class="section">
               <ul class="gb browser-default">
                  <li class="muli white-text">Community members enjoy exclusive access to or community meetups and events</li>
                  <li class="muli white-text">Discount coupons for Next Gen events</li>
                  <li class="muli white-text">Get introduced to top leaders across different sectors</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row center-align valign-wrapper">
         <div class="col s2 right-align">
            <li onclick="incr(-1)" class="waves-effect"><a href="#!"><i class="arrow-big material-icons">chevron_left</i></a></li>
         </div>
         <div class="col s8">
            <div class="section"></div>
            <div id="1" class="l1 slider-image valign-wrapper center-align row">
               <div class="col s12">
                  <div class="hmph">
                     <img class="slider-img responsive-img z-depth-1" src="{{ url('theme://images/outreach_pic1.JPG') }}">
                  </div>
               </div>
            </div>
            <div id="2" class="l2 slider-image valign-wrapper center-align row">
               <div class="col s12">
                  <div class="hmph">
                     <img class="slider-img responsive-img z-depth-1" src="{{ url('theme://images/outreach_pic2.JPG') }}">
                  </div>
               </div>
            </div>
            <div id="3" class="l3 slider-image valign-wrapper center-align row">
               <div class="col s12">
                  <div class="hmph">
                     <img class="slider-img responsive-img z-depth-1" src="{{ url('theme://images/outreach_pic3.JPG') }}">
                  </div>
               </div>
            </div>
            <div id="4" class="l4 slider-image valign-wrapper center-align row">
               <div class="col s12">
                  <div class="hmph">
                     <img class="slider-img responsive-img z-depth-1" src="{{ url('theme://images/outreach_pic5.JPG') }}">
                  </div>
               </div>
            </div>
            <div id="5" class="l5 slider-image valign-wrapper center-align row">
               <div class="col s12">
                  <div class="hmph">
                     <img class="slider-img responsive-img z-depth-1" src="{{ url('theme://images/outreach_pic6.JPG') }}">
                  </div>
               </div>
            </div>
            <div id="6" class="l6 slider-image valign-wrapper center-align row">
               <div class="col s12">
                  <div class="hmph">
                     <img class="slider-img responsive-img z-depth-1" src="{{ url('theme://images/outreach_pic7.JPG') }}">
                  </div>
               </div>
            </div>
            <ul class="pagination center">
               <li onclick="curr(1)" class="img-num waves-effect"><a href="#!">1</a></li>
               <li onclick="curr(2)" class="img-num waves-effect"><a href="#!">2</a></li>
               <li onclick="curr(3)" class="img-num waves-effect"><a href="#!">3</a></li>
               <li onclick="curr(4)" class="img-num waves-effect"><a href="#!">4</a></li>
               <li onclick="curr(5)" class="img-num waves-effect"><a href="#!">5</a></li>
               <li onclick="curr(6)" class="img-num waves-effect"><a href="#!">6</a></li>
            </ul>
            <a style="margin-top: 1.5rem;" class="waves-effect waves-light btn">join</a>
         </div>
         <div class="col s2 left-align">
            <li onclick="incr(1)" class="img-num waves-effect"><a href="#!"><i class="arrow-big material-icons">chevron_right</i></a></li>
         </div>
      </div>
   </div>
   <div class="section gi-sec" id="index-banner">
      <h4 class="header white-text">Our Members</h4>
      <div class="col s12 m7 spacing">
         <p class="white-text zero-line-height">Check out some of the amazing people in NextGen!</p>
      </div>

         <div class="section">
      <div class="row">
         <div class="col s4">
            <div class="card profile-card">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ url('theme://images/team_1.JPG') }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Nicholas Kee<i class="material-icons right">more_vert</i></span>
                  <p class="header-sub muli">Co-founder of Next Gen Creators</p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </div>
               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Marco Gomez<i class="material-icons right">close</i></span>
                  <p class="team-about-text">He developed a love for programming at a very young age and has been traveling the world showing off his skills at various events. Nick’s journey is one that includes being homeless, robbed and many other misfortunes but in the end still coming out on top. </p>
                   <p class="mantra-text">Mantra:</p>
    <blockquote class="team-about-quote">“Here’s to the crazy ones...”
         </blockquote>
               </div>
            </div>
         </div>
         <div class="col s4">
            <div class="card profile-card">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ url('theme://images/team_2.JPG') }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Ja’dan Johnson<i class="material-icons right">more_vert</i></span>
                  <p class="header-sub muli">Co-founder of Next Gen Creators</p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </div>
               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Ja’dan Johnson<i class="material-icons right">close</i></span>
                  <p class="team-about-text">Jadan started his entrepreneurial journey when he was 10 and has been unstoppable since. A true hustler and marketing genius, his achievements in the media industry make him extraordinary.</p>

    <p class="mantra-text">Mantra:</p>
    <blockquote class="team-about-quote">"The go getter goes till he gets what he goes for. The go getter sows till he reaps what he sowed for. He fixes a goal and resolves when he sets it. The way to the prize is to go till you get it."
         </blockquote>
               </div>
            </div>
         </div>
         <div class="col s4">
            <div class="card profile-card">
               <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ url('theme://images/team_3.JPG') }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Stephan Smith<i class="material-icons right">more_vert</i></span>
                  <p class="header-sub muli">Co-founder of Next Gen Creators</p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </div>
               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Stephan Smith<i class="material-icons right">close</i></span>
                  <p class="team-about-text">His tech-entrepreneurship expedition started while attending university. Stephan’s super power lies in solving problems. Inspired mostly by the Jamaican culture most of his time is spent planning and developing projects around the lifestyle.</p>
                  <p class="mantra-text">Mantra:</p>
    <blockquote class="team-about-quote">“When you want to succeed as bad as you want to breathe, then you will be successful.”
         </blockquote>
               </div>
            </div>
         </div>
      </div>
      <div class="row center-align">
        <a style="margin-top: 1.5rem;" class="waves-effect waves-light btn">see more members</a>
      </div>
   </div>

   </div>
   <div class="section gi-sec" id="index-banner">
            <div class="gi-header">
         <!-- change inline-styling later, temporary fix -->
         <h4 class="header white-text">Job Board</h4>
         <div class="col s12 m7 spacing">
            <p class="white-text zero-line-height">Interested in working with us? Check out our available jobs!</p>
         </div>
      </div>
      <div class="row center-align">
        <a style="margin-top: 1.5rem;" class="waves-effect waves-light btn">job board</a>
      </div>

   </div>
</div>
{% endblock %}