{% embed 'partials/base.html.twig' %}

{# get the featured events #}
{% set featured_events =
  page.collection({
    'items': {
      '@taxonomy': {
        'type': 'event',
        'category': 'featured'
      }
    },
    'dateRange': {
      'start': datetools.today|date('m/d/Y'),
      'end': datetools.parseDate('+1 month')|date('m/d/Y')
    },
    'order': {
      'by': 'date',
      'dir': 'asc'
    },
    'limit': 3
  })
%}

{# get events by taxonomy #}
{% set events =
    page.collection({
      'items': {
        '@taxonomy': {
          'type': 'event',
        }
      },
      'dateRange': {
        'start': datetools.today|date('m/d/Y')
      },
      'order': {
        'by': 'date',
        'dir': 'asc'
      },
      'pagination': true
    })
%}

{% block content %}
<div class="container page-container">
  <div class="events-container">

    <h3 class="page-header white-text">Events List</h3>
    <div class="section">
    </div>

<!--     {# <section class="featured-events">

      {% for event in featured_events %}

        <article class="featured-event">
          <div class="featured-event-masthead">
       
            <h3 class="featured-event-title"><a href="{{ event.url }}">{{ event.title }}</a></h3>
          </div>

          <div class="featured-event-content">

            <ul class="event-meta-information">
              <li class="when"><i class="fa fa-calendar"></i> {{ event.header.event.start|date(J, d) }}</li>
              {% if event.header.event.location %}
                <li class="where"><i class="fa fa-location-arrow"></i> {{ event.header.event.location }}</li>
              {% endif %}
            </ul>

            {{ event.summary(200) }}

            <p>
              <a href="{{ event.url }}" class="event-button" />{{ 'PLUGIN_EVENTS.EVENTS.BUTTON'|t }}</a>
            </p>

          </div>
        </article>
      {% endfor %}

    </section> #} -->

<div class="row">
  <div class="col s10 push-s1 pull-s1">
    <section class="events-listing">
      {% for item in events %}
        <article class="event-item">

        

          <section class="event-content">

            <h4 class="white-text">{{ item.title }}</h4>

            <div class="event-meta">
              <ul>
                <li class="white-text when"><i class="blue-text text-lighten-1 fa fa-calendar"></i> {{ item.header.event.start|date(J, d) }}</li>
                {% if item.header.event.location %}
                  <li class="white-text where"><i class="blue-text text-lighten-1 fa fa-location-arrow"></i> {{ item.header.event.location }}</li>
                {% endif %}
              </ul>
              <a href="{{ item.url }}" class="event-button">{{ 'PLUGIN_EVENTS.EVENTS.BUTTON'|t }}</a>
            </div>

            <div class="muli white-text event-summary">
              {{ item.summary(250) }}
            </div>

          </section>
        </article>
      {% endfor %}
    </section>
  </div>
	</div>
</div>
</div>
  {# Render the pagination list #}
  {% if config.plugins.pagination.enabled and events.params.pagination %}
      {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
  {% endif %}

{% endblock %}

{% endembed %}