{% embed 'partials/base.html.twig' %}

{# get the featured events #}
{% set featured_events =
  page.collection({
    'items': {
      '@taxonomy': {
        'type': 'event',
        'category': 'featured'
      }
    },
    'order': {
      'by': 'date',
      'dir': 'asc'
    },
    'limit': 3
  })
%}
{% block content %}

{#
     <section class="featured-events">

      {% for event in featured_events %}

        <article class="featured-event">
          <div class="featured-event-masthead">
       
            <h3 class="featured-event-title"><a href="{{ event.url }}">{{ event.title }}</a></h3>
          </div>

          <div class="featured-event-content">
            <ul class="event-meta-information">
              <li class="when"><i class="fa fa-calendar"></i> {{ event.header.event.start|date(J, d) }}</li>
              {% if event.header.event.location %}
                <li class="where"><i class="fa fa-location-arrow"></i> {{ event.header.event.location }}</li>
              {% endif %}
            </ul>

            {{ event.summary(200) }}

            <p>
              <a href="{{ event.url }}" class="event-button" />{{ 'PLUGIN_EVENTS.EVENTS.BUTTON'|t }}</a>
            </p>

          </div>
        </article>
      {% endfor %}

    </section> 
#}

<div class="container page-container">
<h3 class="page-header white-text">{{ page.header.title }}</h3>
  <div class="section gi-sec" id="index-banner">
    <div class="gi-header">
      <h4 class="header center white-text">Featured Events</h4>
      <div class="container">
        <div class="col s12 m7 spacing">
          <p class="white-text center">{{ page.header.featured_subtext }}</p>
        </div>
        <div class="row center-align">
  {% for event in featured_events %}
<div class="col s4">
  <div class="gi-proj-card card">
              <div class="card-content white-text">
                <span class="center card-upper card-title">{{ event.header.event.start|date("M") }}</span>
                <h1 class="center date">{{ event.header.event.start|date("d") }}</h1>
                <span class="center card-upper card-title">{{ event.header.event.start|date("l") }}</span>
                <a href="{{ event.url }}" class="center card-lower card-title">{{ event.title }}</a>
              </div>
            </div>
</div>
  {% endfor %}
</div>
        <div class="gi-sec-link">
          <a href="{{ base_url }}/community/events-list" class="white-text">See all Events<i class="fa fa-lg fa-angle-double-right" aria-hidden="true"></i></a>
        </div>

      </div>
    </div>
  </div>

  <div class="section gi-sec " id="index-banner">
    <div class="gi-header">
      <h4 class="header center white-text">Other Ways to Get Involved</h4>
      <div class="container">
        <div class="col l12 m12 spacing">
          <p class="white-text center">{{ page.header.other_ways_subtext }}</p>
        </div>
        <div class="section">
        </div>
        <ul class="collapsible" data-collapsible="accordion">
          {% for way in page.header.other_ways %}
            <li>
              <div class="collapsible-header white-text"><i class="arrow material-icons">keyboard_arrow_right</i>{{ way.name }}</div>
              <div class="collapsible-body white-text muli">
                <span class="muli">{{ way.description }}</span>
                {% if way.url_bottom|length > 0 %}
                  <br><a href="{{ way.url_bottom }}" style="text-decoration:underline;">Learn More</a>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
        
        <div class="gi-sec-link">
          <a href="{{ page.header.other_ways_link }}" class="right-align white-text">Prefer a less active role?<i class="fa fa-lg fa-angle-double-right" aria-hidden="true"></i></a><br>
          <a href="{{ page.header.other_ways_link }}" class="white-text">sponsor us!<i class="fa fa-lg fa-angle-double-right" aria-hidden="true" style="visibility:hidden;"></i></a>
        </div>
      </div>
    </div>
  </div>
    <div class="section" id="index-banner">
    <div class="gi-header">
      <h4 class="header center white-text">Subscribe for Updates!</h4>
      <div class="section">
      </div>
      <div class="container">
        {% include 'forms/form.html.twig' %}
      </div>
    </div>
  </div>
</div>




{% endblock %}
{% endembed %}