{% set programs = page.collection({'items':{'@page.children': '/about/programs'}, 'pagination': true, 'limit': 10, 'order': {'by': 'default', 'dir': 'asc'}}) %}
{% extends 'partials/home_base.html.twig' %}
{% block content %}
<div class="hero">
  <div id="top-nav">
      <img class="logo" src="{{ url('theme://images/logo.png') }}">
      <input id="burger" type="checkbox" />
      <label for="burger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
      </label>
      <nav>
       {% include 'partials/navigation.html.twig' %} 
        
      </nav>
    </div>
   <div class="cont">
      <h2 id="slogan">{{ page.header.slogan }}</h2>
      <h5 id="hero-sub">{{ page.header.slogan_subtext }}</h5>
      <a href="about/" class="waves-effect waves-light btn">learn more</a>
   </div>
</div>
<main>
   <div class="container">
            <div class="section home-involved">
         <h5 class="white-text center home-sub">Get Involved</h5>
         <ul class="ch-grid">
            <div class="row center">
               <div class="col s4">
                  <li>

                     <div class="ch-item" style="background-image: url('/next-gen/{{ page.header.circle1_img|first.path }}');">
                        <div class="ch-info">
                           <h3>Make an Impact</h3>
                           <p><a href="#">Learn More</a><i class="rarrow material-icons">keyboard_arrow_right</i></p>
                        </div>
                     </div>
                  </li>
               </div>
               <div class="col s4">
                  <li>
                     <div class="ch-item" style="background-image: url('/next-gen/{{ page.header.circle2_img|first.path }}');">
                        <div class="center ch-info">
                           <h3>Make an Impact</h3>
                           <p class="center valign-wrapper"><a href="#">Learn More</a><i class="rarrow material-icons">keyboard_arrow_right</i></p>
                        </div>
                     </div>
                  </li>
               </div>
               <div class="col s4">
                  <li>
                     <div class="ch-item" style="background-image: url('/next-gen/{{ page.header.circle3_img|first.path }}');">
                        <div class="ch-info">
                           <h3>Partner with Us</h3>
                           <p><a href="#">Learn More</a><i class="rarrow material-icons">keyboard_arrow_right</i></p>
                        </div>
                     </div>
                  </li>
               </div>
            </div>
            <div class="row center">
               <div class="col s4 center">
                   <h5 class="white-text home-sub-mini">{{ page.header.circle1_caption }}</h5>
               </div>
               <div class="col s4 center">
                   <h5 class="white-text home-sub-mini">{{ page.header.circle2_caption }}</h5>
               </div>
               <div class="col s4 center">
                   <h5 class="white-text home-sub-mini">{{ page.header.circle3_caption }}</h5>
               </div>
            </div>
         </ul>
        <!--  <div class="row">
         <div class="col s4">
            <p class="home-sub-green center">Volunteer With Us</p>
         </div>
         <div class="col s4">
            <p class="home-sub-green center">Volunteer With Us</p>
         </div>
         <div class="col s4">
            <p class="home-sub-green center">Volunteer With Us</p>
         </div>
         </div> -->
      </div>
      <div class="section home-join">
         <h5 class="white-text center home-sub">Join the Community</h5>
         <div class="valign-wrapper center-align row">
            <div class="col s12">
              <div class="hmph col l8 push-l2 pull-l2">
               <img class="responsive-img z-depth-1" src="/next-gen/{{ page.header.join_community_img|first.path }}">
               <div class="home-below-text center left-align">
                  <p class="white-text">{{ page.header.join_community_caption }}</p>
                  <a class="waves-effect waves-light center btn" href="community/">join us</a>
               </div>
               </div>
               

               
            </div>
         </div>
      </div>
      <div class="section home-programs">
         <h5 class="white-text center home-sub">Our Programs</h5>
         {% include 'partials/program_list.html.twig' %} 
      </div>
      <div class="section home-contact">
         <h5 class="white-text center home-sub">Contact Us</h5>
         <p class="white-text">Email: {{ page.header.contact_email }}</p>
         <p class="white-text">Cell-Phone: {{ page.header.contact_number }}</p>
         <div class="row center">
            <div class="col s12 l8 push-l2 pull-l2">
               {% include 'forms/form.html.twig' %}
            </div>
         </div>
      </div>
      <div class="section home-sponsors">
         <h5 class="white-text center home-sub">Sponsors and Donors</h5>
         <div class="center row valign-wrapper">
            {% for image in page.media.images%}
             <div class="col s6">
               <img class="responsive-img" src="{{ image.url }}">
            </div>
            {% endfor %}

            {% for image in page.media.files %}
             <div class="col s6">
               <img class="responsive-img" src="{{ image.url }}">
            </div>
            {% endfor %}
         </div>
         


      </div>
   </div>
</main>
{% endblock %}