{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="container page-container profiles">
   <h3 class="page-header white-text">{{ page.header.title }}</h3>
   <div class="row">
      <div class="col s6">
         <p class="white-text muli">{{ page.header.subtext }}</p>
      </div>
   </div>
   <div class="section">
     <div class="row">
      {% for member in page.header.team_members %}
         <div class="col m4 s12 spacing">
            <div class="card profile-card">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ base_url }}/{{ member.picture|first.path }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{ member.name }}<i class="material-icons right">more_vert</i></span>
                  <p class="header-sub muli">{{ member.position}}</p>
                  <a class="black-text" href="{{ member.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a class="black-text" href="{{ member.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a class="black-text" href="{{ member.linkedin }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
               </div>
               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{ member.name }}<i class="material-icons right">close</i></span>
                  <p class="team-about-text">{{ member.bio }}</p>
                  <p class="mantra-text">Mantra:</p>
                  <blockquote class="team-about-quote">{{ member.mantra }}</blockquote>
               </div>
            </div>
         </div>
         {% if (loop.index0 + 1) % 3 == 0 %}
            </div>
            {% if (loop.index) != page.header.team_members|length %}
               <div class="row">
            {% endif %}
         {% endif %}
      {% endfor %} 
   </div>
</div>
{% endblock %}