{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

     <link rel="shortcut icon" type="image/x-icon" href="{{ url('theme://images/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url('theme://images/favicon.ico') }}"/>
    <link rel="canonical" href="{{ page.url(
    true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://fonts.googleapis.com/icon?family=Material+Icons') %}
        {% do assets.addCss('theme://css/css/normalize.css') %}
        {% do assets.addCss('theme://css/css/materialize.css') %}
        {% do assets.addCss('theme://css/css/main.css') %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') %}
    {% endblock %}
    {{ assets.css() }}


{% endblock head %}
</head>
<body>
  {% block content %}{% endblock %}
    <!-- <img class="responsive-tri" src="{{ url('theme://images/triangles.png') }}"> -->
  <footer class="page-footer"> 
    <div class="row">
        <div class="col s6">
            <a href="{{ base_url }}"><img class="logo-footer" src="{{ url('theme://images/logo.png') }}"></a>
            <div class="footer-details">
                <p class="top-align-p white-text"><i class="footer-left-icon fa fa-envelope"></i>{{ page.find('/home').header.contact_email }}</p>
                <p class="top-align-p white-text"><i class="footer-left-icon fa fa-phone"></i>{{ page.find('/home').header.contact_number }}</p>
            </div>
        </div>
        <div class="col s6 right-align">
             <p>Made with <i id="madeby-icon" class="fa"></i> by <a id="elixir-labs" href="http://www.elixirlabs.org/" target="_blank">Elixir Labs</a></p>
        </div>
    </div>
  </footer>


 {% block javascripts %}
        {% do assets.addJs('https://code.jquery.com/jquery-3.2.1.min.js', 100) %}
        {% do assets.addJs('theme://js/materialize.js', 99) %}
        {% do assets.addJs('theme://js/scripts.js', 98) %}
    {% endblock %}
    {{ assets.js() }}

  </body>
</html>
