<ul>
    {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
        <li>
            <a href="{{ page.url }}">
                {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                {{ page.menu }}
            </a>

        {% if page.children|length > 0 %}
         <ul class="z-depth-2">
        {% for childpage in page.children %}
            {% set c_page = (childpage.active or childpage.activeChild) ? 'selected' : '' %}
        <li>
            <a href="{{ childpage.url }}">
                {% if childpage.header.icon %}<i class="fa fa-{{ childpage.header.icon }}"></i>{% endif %}
                {{ childpage.menu }}
            </a>
        </li>
        {% endfor %}
        </ul>
        {% endif %}
        </li>

    {% endfor %}

    {% for mitem in site.menu %}
        <li>
            <a href="{{ mitem.url }}">
                {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
</ul>

